# Statistics - HCI IYKRA

# Import Library

In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

import statsmodels.formula.api as smf

In [2]:
df = pd.read_excel('data loan.xlsx')
df.head()

,Kontrak,Tipe_Kendaraan,Pekerjaan,Area,Tenor,Bucket_Collectability,NPF,Total_AR,LTV,OTR,...,DP,AF,Tujuan,Pendidikan,Tanggungan,Status,Gender,Paket,Inflasi,Segmen
0,1,OTHERS,Karyawan,Jawa,12,>90 - 120 hari,Ya,2.763126,100.00,2.76,...,0.0,2.76,Private,Sarjana,Tidak ada,OTHERS,Laki-laki,Ya,3.58,Jasa & Perdagangan
1,2,OTHERS,Wiraswasta,Jawa,12,0 - 30 hari,Tidak,2.805000,103.70,2.71,...,0.0,2.81,Private,Others,Tidak ada,MENIKAH,Laki-laki,Ya,3.58,Others
2,3,OTHERS,Wiraswasta,Jawa,12,0 - 30 hari,Tidak,3.104000,103.33,3.00,...,0.0,3.10,Private,Sarjana,Tidak ada,OTHERS,Perempuan,Ya,4.17,Others
3,4,OTHERS,Karyawan,Jawa,12,0 - 30 hari,Tidak,4.088100,102.51,3.98,...,0.0,4.08,Private,Sarjana,Ada,OTHERS,Laki-laki,Ya,3.61,Jasa & Perdagangan
4,5,OTHERS,Karyawan,Jawa,12,0 - 30 hari,Tidak,4.607100,102.22,4.50,...,0.0,4.60,Private,Sarjana,Tidak ada,OTHERS,Perempuan,Ya,3.30,Jasa & Perdagangan

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28293 entries, 0 to 28292
Data columns (total 23 columns):
Kontrak                  28293 non-null int64
Tipe_Kendaraan           28293 non-null object
Pekerjaan                28293 non-null object
Area                     28293 non-null object
Tenor                    28293 non-null int64
Bucket_Collectability    28293 non-null object
NPF                      28293 non-null object
Total_AR                 28293 non-null float64
LTV                      28293 non-null float64
OTR                      28293 non-null float64
Age                      28293 non-null int64
Interest_Rate            28293 non-null float64
Income                   28293 non-null int64
DP                       28293 non-null float64
AF                       28293 non-null float64
Tujuan                   28293 non-null object
Pendidikan               28293 non-null object
Tanggungan               28293 non-null object
Status                   28293 non-null object
Gender                   28293 non-null object
Paket                    28293 non-null object
Inflasi                  28293 non-null float64
Segmen                   28293 non-null object
dtypes: float64(7), int64(4), object(12)
memory usage: 5.0+ MB

In [4]:
# Numeric Data

numeric_data = df.select_dtypes(include = [np.number]).columns
numeric_data

Index(['Kontrak', 'Tenor', 'Total_AR', 'LTV', 'OTR', 'Age', 'Interest_Rate',
       'Income', 'DP', 'AF', 'Inflasi'],
      dtype='object')

In [5]:
#Categoric Data

categoric_data = df.select_dtypes(exclude = [np.number]).columns
categoric_data

Index(['Tipe_Kendaraan', 'Pekerjaan', 'Area', 'Bucket_Collectability', 'NPF',
       'Tujuan', 'Pendidikan', 'Tanggungan', 'Status', 'Gender', 'Paket',
       'Segmen'],
      dtype='object')

In [6]:
df_edit = df.copy()

In [7]:
df_edit.describe(include = 'all').transpose()

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Kontrak,28293,NaN,NaN,NaN,14147,8167.63,1,7074,14147,21220,28293
Tipe_Kendaraan,28293,4,MINIBUS,14440,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pekerjaan,28293,3,Karyawan,13717,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Area,28293,3,Jawa,15677,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tenor,28293,NaN,NaN,NaN,45.1049,13.2811,12,36,48,60,60
Bucket_Collectability,28293,5,0 - 30 hari,12432,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NPF,28293,2,Tidak,14373,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total_AR,28293,NaN,NaN,NaN,214.777,88.3864,1.401,156.322,201.12,266.208,1854.34
LTV,28293,NaN,NaN,NaN,81.147,14.9868,5.11,77.87,83.83,89.36,111.83
OTR,28293,NaN,NaN,NaN,204.386,79.9381,1.69,157.8,187.7,231.05,1508.4
Age,28293,NaN,NaN,NaN,40.6801,9.56479,19,34,40,48,82
Interest_Rate,28293,NaN,NaN,NaN,13.7418,3.51716,0,11.19,13.45,16.21,27.4
Income,28293,NaN,NaN,NaN,20.4493,115.608,1,9,15,20,10000
DP,28293,NaN,NaN,NaN,59.1173,40.8301,0,37.67,47.7,67.96,721.35
AF,28293,NaN,NaN,NaN,163.552,64.2045,1.39,122.48,153.23,193.31,1312.81
Tujuan,28293,2,Private,24877,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pendidikan,28293,2,Others,16033,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tanggungan,28293,2,Tidak ada,15765,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Status,28293,2,OTHERS,14255,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Gender,28293,2,Laki-laki,20904,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Paket,28293,2,Tidak,15961,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Inflasi,28293,NaN,NaN,NaN,5.53106,1.79701,3.21,3.83,5.31,7.25,8.79
Segmen,28293,2,Jasa & Perdagangan,16020,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df_edit.Tipe_Kendaraan.value_counts()

MINIBUS            14440
LCGC                6078
OTHERS              5657
TRUCK & PICK UP     2118
Name: Tipe_Kendaraan, dtype: int64

Kendaraan terbanyak yang dibeli oleh pelanggan adalah kendaraan minibus

In [9]:
df_edit.Area.value_counts()

Jawa        15677
Sumatera     9872
Others       2744
Name: Area, dtype: int64

Area coverage terbanyak adalah Pulau Jawa

** Mengubah peubah kategorik menjadi peubah dummy**

In [13]:
dummy = pd.get_dummies(df_edit[['Area', 'Tipe_Kendaraan', 'Pekerjaan', 'Bucket_Collectability', 'NPF', 'Status']])

In [14]:
dummy.head()

,Area_Jawa,Area_Others,Area_Sumatera,Tipe_Kendaraan_LCGC,Tipe_Kendaraan_MINIBUS,Tipe_Kendaraan_OTHERS,Tipe_Kendaraan_TRUCK & PICK UP,Pekerjaan_Karyawan,Pekerjaan_Lainnya,Pekerjaan_Wiraswasta,Bucket_Collectability_0 - 30 hari,Bucket_Collectability_> 150 hari,Bucket_Collectability_>120 - 150 hari,Bucket_Collectability_>30 - 90 hari,Bucket_Collectability_>90 - 120 hari,NPF_Tidak,NPF_Ya,Status_MENIKAH,Status_OTHERS
0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,1,0,1
1,1,0,0,0,0,1,0,0,0,1,1,0,0,0,0,1,0,1,0
2,1,0,0,0,0,1,0,0,0,1,1,0,0,0,0,1,0,0,1
3,1,0,0,0,0,1,0,1,0,0,1,0,0,0,0,1,0,0,1
4,1,0,0,0,0,1,0,1,0,0,1,0,0,0,0,1,0,0,1

In [15]:
df_edit = pd.concat([df_edit, dummy], axis = 1)

In [16]:
df_edit.head()

,Kontrak,Tipe_Kendaraan,Pekerjaan,Area,Tenor,Bucket_Collectability,NPF,Total_AR,LTV,OTR,...,Pekerjaan_Wiraswasta,Bucket_Collectability_0 - 30 hari,Bucket_Collectability_> 150 hari,Bucket_Collectability_>120 - 150 hari,Bucket_Collectability_>30 - 90 hari,Bucket_Collectability_>90 - 120 hari,NPF_Tidak,NPF_Ya,Status_MENIKAH,Status_OTHERS
0,1,OTHERS,Karyawan,Jawa,12,>90 - 120 hari,Ya,2.763126,100.00,2.76,...,0,0,0,0,0,1,0,1,0,1
1,2,OTHERS,Wiraswasta,Jawa,12,0 - 30 hari,Tidak,2.805000,103.70,2.71,...,1,1,0,0,0,0,1,0,1,0
2,3,OTHERS,Wiraswasta,Jawa,12,0 - 30 hari,Tidak,3.104000,103.33,3.00,...,1,1,0,0,0,0,1,0,0,1
3,4,OTHERS,Karyawan,Jawa,12,0 - 30 hari,Tidak,4.088100,102.51,3.98,...,0,1,0,0,0,0,1,0,0,1
4,5,OTHERS,Karyawan,Jawa,12,0 - 30 hari,Tidak,4.607100,102.22,4.50,...,0,1,0,0,0,0,1,0,0,1

# Diskretisasi

In [18]:
diskret_age = pd.cut(df_edit.Age, 3)
diskret_age.head()

0    (18.937, 40.0]
1    (18.937, 40.0]
2      (40.0, 61.0]
3      (40.0, 61.0]
4    (18.937, 40.0]
Name: Age, dtype: category
Categories (3, interval[float64]): [(18.937, 40.0] < (40.0, 61.0] < (61.0, 82.0]]

In [19]:
df_edit = pd.concat([df_edit, diskret_age], axis = 1)
df_edit.head()

,Kontrak,Tipe_Kendaraan,Pekerjaan,Area,Tenor,Bucket_Collectability,NPF,Total_AR,LTV,OTR,...,Bucket_Collectability_0 - 30 hari,Bucket_Collectability_> 150 hari,Bucket_Collectability_>120 - 150 hari,Bucket_Collectability_>30 - 90 hari,Bucket_Collectability_>90 - 120 hari,NPF_Tidak,NPF_Ya,Status_MENIKAH,Status_OTHERS,Age
0,1,OTHERS,Karyawan,Jawa,12,>90 - 120 hari,Ya,2.763126,100.00,2.76,...,0,0,0,0,1,0,1,0,1,"(18.937, 40.0]"
1,2,OTHERS,Wiraswasta,Jawa,12,0 - 30 hari,Tidak,2.805000,103.70,2.71,...,1,0,0,0,0,1,0,1,0,"(18.937, 40.0]"
2,3,OTHERS,Wiraswasta,Jawa,12,0 - 30 hari,Tidak,3.104000,103.33,3.00,...,1,0,0,0,0,1,0,0,1,"(40.0, 61.0]"
3,4,OTHERS,Karyawan,Jawa,12,0 - 30 hari,Tidak,4.088100,102.51,3.98,...,1,0,0,0,0,1,0,0,1,"(40.0, 61.0]"
4,5,OTHERS,Karyawan,Jawa,12,0 - 30 hari,Tidak,4.607100,102.22,4.50,...,1,0,0,0,0,1,0,0,1,"(18.937, 40.0]"

### Melihat korelasi antar variable

In [38]:
import seaborn as sns

In [62]:
#Make correlation plot
corr = df_edit_sample.corr()

In [59]:
# Select correlation with only correlation below 0.5 and above 0.5
corr[(corr < 0.5) & (corr > -0.5)]

,Kontrak,Tenor,Total_AR,LTV,OTR,Age,Interest_Rate,Income,DP,AF,...,Pekerjaan_Wiraswasta,Bucket_Collectability_0 - 30 hari,Bucket_Collectability_> 150 hari,Bucket_Collectability_>120 - 150 hari,Bucket_Collectability_>30 - 90 hari,Bucket_Collectability_>90 - 120 hari,NPF_Tidak,NPF_Ya,Status_MENIKAH,Status_OTHERS
Kontrak,NaN,0.304110,NaN,0.348162,0.405913,-0.015859,0.304959,0.035454,-0.019293,NaN,...,0.088965,-0.217976,0.217095,0.008154,0.001652,0.003011,-0.215436,0.215436,0.000879,-0.000879
Tenor,0.304110,NaN,0.388231,NaN,-0.153201,-0.146612,NaN,-0.056488,-0.428091,0.160689,...,-0.037898,-0.322551,0.326911,0.007824,-0.004310,0.003818,-0.322199,0.322199,0.007290,-0.007290
Total_AR,NaN,0.388231,NaN,0.443359,NaN,-0.024044,0.393168,0.058567,0.071491,NaN,...,0.131736,-0.278880,0.280697,0.014810,-0.008627,0.005303,-0.281046,0.281046,0.006188,-0.006188
LTV,0.348162,NaN,0.443359,NaN,-0.196874,-0.140177,NaN,-0.019487,NaN,0.308559,...,0.065285,-0.387631,0.354596,0.036724,0.023197,0.026823,-0.372898,0.372898,0.004407,-0.004407
OTR,0.405913,-0.153201,NaN,-0.196874,NaN,0.089632,-0.117277,0.089692,NaN,NaN,...,0.103866,0.021329,-0.011829,-0.000530,-0.013562,-0.005093,0.014323,-0.014323,0.004175,-0.004175
Age,-0.015859,-0.146612,-0.024044,-0.140177,0.089632,NaN,-0.107486,0.025214,0.141285,0.015188,...,0.056218,0.109962,-0.101562,-0.009453,-0.004954,-0.008146,0.106603,-0.106603,-0.005023,0.005023
Interest_Rate,0.304959,NaN,0.393168,NaN,-0.117277,-0.107486,NaN,-0.007315,-0.396874,0.156088,...,0.096413,-0.410262,0.433916,-0.003636,-0.019644,-0.004415,-0.416955,0.416955,0.005751,-0.005751
Income,0.035454,-0.056488,0.058567,-0.019487,0.089692,0.025214,-0.007315,NaN,0.049612,0.077657,...,0.047650,0.000179,0.003808,0.003845,-0.005587,-0.005111,-0.002640,0.002640,0.001992,-0.001992
DP,-0.019293,-0.428091,0.071491,NaN,NaN,0.141285,-0.396874,0.049612,NaN,0.210685,...,-0.008090,0.270952,-0.237239,-0.030104,-0.026293,-0.025287,0.255572,-0.255572,0.000257,-0.000257
AF,NaN,0.160689,NaN,0.308559,NaN,0.015188,0.156088,0.077657,0.210685,NaN,...,0.137544,-0.177407,0.166832,0.020026,0.000541,0.011006,-0.175745,0.175745,0.005969,-0.005969
Inflasi,-0.145320,-0.263379,-0.160043,-0.265986,0.029584,0.032779,-0.237978,0.027154,0.144146,-0.081144,...,0.029543,0.040906,-0.112437,0.033442,0.049505,0.057304,0.065549,-0.065549,-0.003426,0.003426
Area_Jawa,-0.033958,0.041710,-0.063302,-0.015105,-0.046074,0.029993,-0.099947,-0.012540,-0.005552,-0.062273,...,-0.099646,0.061260,-0.027902,-0.036942,0.004866,-0.040399,0.063234,-0.063234,-0.012513,0.012513
Area_Others,0.036150,0.023906,0.076618,0.005551,0.052170,-0.027491,0.109156,0.026435,0.010032,0.060418,...,0.051774,0.010467,0.000554,-0.020751,0.013834,-0.018005,0.017361,-0.017361,-0.000352,0.000352
Area_Sumatera,0.013033,-0.058302,0.018580,0.012316,0.015750,-0.014259,0.036652,-0.003289,-0.000421,0.027538,...,0.071866,-0.070370,0.028756,0.051375,-0.013640,0.053281,-0.076697,0.076697,0.013268,-0.013268
Tipe_Kendaraan_LCGC,-0.259429,0.086324,-0.357364,0.137220,-0.464036,-0.079997,0.115119,-0.036575,-0.312398,-0.404697,...,-0.070651,0.021214,-0.008706,-0.010941,-0.007878,-0.007939,0.017075,-0.017075,0.003195,-0.003195
Tipe_Kendaraan_MINIBUS,0.013219,-0.016608,-0.029147,-0.087366,-0.005032,0.050631,-0.175781,-0.023293,0.041463,-0.018812,...,-0.026636,0.030175,-0.058156,0.005290,0.026935,0.020651,0.043520,-0.043520,-0.011478,0.011478
Tipe_Kendaraan_OTHERS,0.152793,-0.033169,0.245785,-0.017000,0.322734,0.015628,-0.051670,0.006530,0.231421,0.281716,...,-0.001696,0.043408,-0.027244,-0.007443,-0.006578,-0.019827,0.039751,-0.039751,0.008484,-0.008484
Tipe_Kendaraan_TRUCK & PICK UP,0.146443,-0.052393,0.237880,-0.021986,0.241318,0.004724,0.232317,0.091032,0.056085,0.237388,...,0.162770,-0.155884,0.164939,0.018261,-0.028794,0.003279,-0.169183,0.169183,0.003912,-0.003912
Pekerjaan_Karyawan,-0.083555,0.091415,-0.130579,-0.026441,-0.141435,-0.084700,-0.046676,-0.060985,-0.032901,-0.154008,...,NaN,0.095169,-0.088616,-0.009367,0.004380,-0.013207,0.096632,-0.096632,0.014390,-0.014390
Pekerjaan_Lainnya,-0.010239,-0.109202,-0.001217,-0.078460,0.077325,0.058429,-0.100354,0.027539,0.083323,0.034682,...,-0.238171,0.021947,-0.033138,0.010948,0.001002,0.010289,0.022281,-0.022281,0.006683,-0.006683
Pekerjaan_Wiraswasta,0.088965,-0.037898,0.131736,0.065285,0.103866,0.056218,0.096413,0.047650,-0.008090,0.137544,...,NaN,-0.106408,0.105352,0.004002,-0.004893,0.008185,-0.108042,0.108042,-0.017751,0.017751
Bucket_Collectability_0 - 30 hari,-0.217976,-0.322551,-0.278880,-0.387631,0.021329,0.109962,-0.410262,0.000179,0.270952,-0.177407,...,-0.106408,NaN,NaN,-0.190919,-0.238530,-0.245665,NaN,NaN,-0.000961,0.000961
Bucket_Collectability_> 150 hari,0.217095,0.326911,0.280697,0.354596,-0.011829,-0.101562,0.433916,0.003808,-0.237239,0.166832,...,0.105352,NaN,NaN,-0.168690,-0.210757,-0.217062,NaN,NaN,-0.000726,0.000726
Bucket_Collectability_>120 - 150 hari,0.008154,0.007824,0.014810,0.036724,-0.000530,-0.009453,-0.003636,0.003845,-0.030104,0.020026,...,0.004002,-0.190919,-0.168690,NaN,-0.058597,-0.060350,-0.218972,0.218972,-0.006591,0.006591
Bucket_Collectability_>30 - 90 hari,0.001652,-0.004310,-0.008627,0.023197,-0.013562,-0.004954,-0.019644,-0.005587,-0.026293,0.000541,...,-0.004893,-0.238530,-0.210757,-0.058597,NaN,-0.075400,0.267601,-0.267601,-0.001767,0.001767
Bucket_Collectability_>90 - 120 hari,0.003011,0.003818,0.005303,0.026823,-0.005093,-0.008146,-0.004415,-0.005111,-0.025287,0.011006,...,0.008185,-0.245665,-0.217062,-0.060350,-0.075400,NaN,-0.281763,0.281763,0.010201,-0.010201
NPF_Tidak,-0.215436,-0.322199,-0.281046,-0.372898,0.014323,0.106603,-0.416955,-0.002640,0.255572,-0.175745,...,-0.108042,NaN,NaN,-0.218972,0.267601,-0.281763,NaN,NaN,-0.001845,0.001845
NPF_Ya,0.215436,0.322199,0.281046,0.372898,-0.014323,-0.106603,0.416955,0.002640,-0.255572,0.175745,...,0.108042,NaN,NaN,0.218972,-0.267601,0.281763,NaN,NaN,0.001845,-0.001845
Status_MENIKAH,0.000879,0.007290,0.006188,0.004407,0.004175,-0.005023,0.005751,0.001992,0.000257,0.005969,...,-0.017751,-0.000961,-0.000726,-0.006591,-0.001767,0.010201,-0.001845,0.001845,NaN,NaN
Status_OTHERS,-0.000879,-0.007290,-0.006188,-0.004407,-0.004175,0.005023,-0.005751,-0.001992,-0.000257,-0.005969,...,0.017751,0.000961,0.000726,0.006591,0.001767,-0.010201,0.001845,-0.001845,NaN,NaN

Ada beberapa terjadi korelasi antar variabel untuk mencegah terjadinya multikolinearitas gunakan variabel kurang dari nilai absolut 0.5

# Regresi Linear Sederhana

Ambil sampel sebanyak 80%

In [22]:
print('Banyaknya data:', df_edit.shape[0]*0.8)

Banyaknya data: 22634.4

In [24]:
df_edit_sample = df_edit.sample(22634)

In [25]:
ols_df_edit = smf.ols('Total_AR ~ Income', data = df_edit_sample).fit()

In [26]:
print(ols_df_edit.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               Total_AR   R-squared:                       0.003
Model:                            OLS   Adj. R-squared:                  0.003
Method:                 Least Squares   F-statistic:                     77.90
Date:                Fri, 25 Oct 2019   Prob (F-statistic):           1.16e-18
Time:                        17:10:55   Log-Likelihood:            -1.3331e+05
No. Observations:               22634   AIC:                         2.666e+05
Df Residuals:                   22632   BIC:                         2.666e+05
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    213.5497      0.594    359.669      0.000     212.386     214.714
Income         0.0537      0.006      8.826      0.000       0.042       0.066
==============================================================================
Omnibus:                     6592.218   Durbin-Watson:                   1.997
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            38553.192
Skew:                           1.274   Prob(JB):                         0.00
Kurtosis:                       8.864   Cond. No.                         99.6
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Terlihat bahwa model kurang prediktif hal ini ditunjukkan dengan nilai koefisien deterministik 0.003

In [82]:
ols_df_edit_all = smf.ols('Total_AR ~ Income + Tenor + Area_Jawa + DP + Pekerjaan_Karyawan + Status_MENIKAH', data = df_edit_sample).fit()

In [80]:
print(ols_df_edit_all.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               Total_AR   R-squared:                       0.257
Model:                            OLS   Adj. R-squared:                  0.257
Method:                 Least Squares   F-statistic:                     1304.
Date:                Fri, 25 Oct 2019   Prob (F-statistic):               0.00
Time:                        18:03:58   Log-Likelihood:            -1.2999e+05
No. Observations:               22634   AIC:                         2.600e+05
Df Residuals:                   22627   BIC:                         2.600e+05
Df Model:                           6
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept             38.3870      2.504     15.331      0.000      33.479      43.295
Income                 0.0584      0.005     11.075      0.000       0.048       0.069
Tenor                  3.5059      0.042     83.786      0.000       3.424       3.588
Area_Jawa            -11.9548      1.015    -11.775      0.000     -13.945      -9.965
DP                     0.6238      0.014     45.910      0.000       0.597       0.650
Pekerjaan_Karyawan   -27.9453      1.014    -27.547      0.000     -29.934     -25.957
Status_MENIKAH         0.6202      1.004      0.618      0.537      -1.348       2.588
==============================================================================
Omnibus:                     6207.394   Durbin-Watson:                   1.994
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            41506.567
Skew:                           1.150   Prob(JB):                         0.00
Kurtosis:                       9.223   Cond. No.                         508.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Trlihat bahwa Pendapatan, tenor, Area peminjaman, dp dan pekerjaan karyawan mempengaruhi model, sedangkan prediktor status menikah terlihat tidak signifikan terhadap model terlihat dari p value

Secara umum pendapatan dan tenor mempengaruhi tenor sedangkan area luar jawa dan pekerja selain karyawan akan menurunkan total ar